<body>
	<!-- about -->
	<div class="segments-page">
		<div class="container">
			<div class="about">
				<div class="content">
					<p>This is BRGG Project by Bar Team</p>
					<div class="social-link">
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-instagram"></i></a>
						<a href=""><i class="fa fa-google"></i></a>
					</div>
					<p>Address: Seoul, Korea Republic</p>
					<p>Email: BRGG@gmail.com</p>
					<p>Phone: +82 2-0000-0000</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end about -->

	<script src="/js/jquery.min.js"></script>
	<script src="/js/materialize.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/main.js"></script>
</body>