<%= erb :"/layouts/header" %>
	<!-- pricing table -->
	<div class="segments-page">
		<div class="container">
			<div class="pricing-table">
				<div class="pages-title">
					<h3>하트 충전하기</h3>
					<div class="line"></div>
				</div>
				<div class="row">
					<div class="col s6">
						<div class="contents z-depth-1 center">
							<h5>Basic</h5>
							<h4>하트 10개</h4>
							<ul>
								<li>1200원</li>
							</ul>
							<button class="button z-depth-1"> 충전하기</button>
						</div>
					</div>
					<div class="col s6">
						<div class="contents z-depth-1 center">
							<h5>Standard</h5>
							<h4>하트 30개</h4>
							<ul>
								<li>3300원</li>
							</ul>
							<button class="button z-depth-1">충전하기</button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s6">
						<div class="contents z-depth-1 center">
							<h5>Medium</h5>
							<h4>하트 50개</h4>
							<ul>
								<li>5200원</li>
							</ul>
							<button class="button z-depth-1">충전하기</button>
						</div>
					</div>
					<div class="col s6">
						<div class="contents z-depth-1 center">
							<h5>Elite</h5>
							<h4>하트 100개</h4>
							<ul>
								<li>9900원</li>
							</ul>
							<button class="button z-depth-1">충전하기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end pricing table -->

	<script src="js/jquery.min.js"></script>
	<script src="js/materialize.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>

<%= erb :"/layouts/footer" %>