<%= erb :"/layouts/header" %>

<body>
	<!-- list -->
	<div class="list segments-page">
		<div class="container">
			<div class="contents">
				<div class="list-img">
					<img src="images/team1.jpg" alt="">
				</div>
				<div class="list-text">
					<h6>John Roe</h6>
					<p>Lorem ipsum dolor sit amet lorem consectetur adipisicing elit</p>
				</div>
			</div>
			<div class="contents">
				<div class="list-img">
					<img src="images/team2.jpg" alt="">
				</div>
				<!-- TODO Right list-text -->
				<div class="list-text">
					<h6>Jordan</h6>
					<p>Lorem ipsum dolor sit amet lorem consectetur adipisicing elit</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end list -->
</body>

<%= erb :"/layouts/footer" %>