<%= erb :"/layouts/header" %>
<!-- TODO AFTER DEVELOP DONE => no_user_header -->

<body>
	<!-- about -->
	<div class="segments-page">
		<div class="container">

			<!-- sign in -->
			<div class="sign-in segments-page">
				<div class="container">
					<div class="signin-contents">
						<div class="pages-title">
							<h3>Sign In</h3>
							<div class="line"></div>
						</div>
						<form>
							<input type="email" placeholder="Email">
							<input type="password" placeholder="password">
							<div class="col s3">
								<div class="content-right">
									<button class="button"><i class="fa fa-send"></i>Sign in</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- end sign in -->

		</div>
	</div>
</body>	

<%= erb :"/layouts/footer" %>