<%= erb :"/layouts/header" %>

<body>
	<div class="slide">
		<div class="slide-show owl-carousel owl-theme">
			<div class="slide-content">
				<div class="mask"></div>
				<!-- <img src="images/slider1.jpg" alt=""> -->
				<div class="caption text-center">
					<h2>이번주 불금 in 강남</h2>
					<p>다음 중간 순위발표는 수요일 오후10시</p><p> -</p>
					<button class="button-hs">번호표 뽑기</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end slide -->

	<!-- couple -->
	<div class="couple segments">
		<div class="container">
			<div class="section-title">
				<h3>My Team</h3>
				<div class="line"></div>
			</div>
			<div class="row">
				<div class="col s6">
					<div class="contents">
						<img src="images/couple1.jpg" alt="">
						<h4><b>BRGG와 아이들</b></h4>
						<p><u>팀 소개 수정하기 > </u></p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end couple -->

	<script src="js/jquery.min.js"></script>
	<script src="js/materialize.js"></script>
	<script src="js/numscroller.js"></script>
	<script src="js/jquery.filterizr.js"></script>
	<script src="js/jquery.filterizr.custom.js"></script>
	<script src="js/lightbox.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>

</body>


<%= erb :"/layouts/footer" %>