<%= erb :"/layouts/header" %>

<body>
    <!-- date -->
    <div class="date-wedding segments bg-third">
        <div class="container">
            <div class="section-title">
        <!---		<h3>Weddings Date Events</h3>
                <div class="line"></div>-->
            </div>
            <div class="contents">
                <h4>매칭성공!</h4>
                <h5>2019년 1월 26일 토요일 in 강남</h5>
            </div>
        </div>
    </div>
    <!-- end date -->

    <!-- couple -->
    <div class="couple segments">
        <div class="container">
            <div class="section-title">
                <h3>이번주 매칭상대는?</h3>
                <div class="line"></div>
            </div>
            <div class="row">

                    <div class="contents">
                        <img src="images/couple1.jpeg" alt="">
                        <h4><b>두희와 아기사자들</b></h4>
                        <p>저희는 멋쟁이사자처럼에서 만난 아기사자 3마리입니다.ㅋㅋ 블라블라블라 내용은 아무거나 씁니다 가나다라마바 사아자 차카타파하!ㅋ 우리 즐거운 시간 보내용~</p>
                        <ul>

                        <div class="row">
                        <div class="col s12">
                            <div class="contents">
                                <button class="button button-hs">대화걸기</button>
                            </div>
                        </div>
                    </div>
                            <!-- <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li> -->
                        </ul>
                    </div>
                <!-- </div>
                <div class="col s6">
                    <div class="contents">
                        <img src="images/couple2.jpg" alt="">
                        <h4>Julia Doe</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <ul>
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div> -->
            </div>
        </div>
    </div>
</body>

<%= erb :"/layouts/footer" %>