<%= erb :"/layouts/no_user_header" %>

<body>
	<!-- sign up -->
	<div class="sign-up segments-page">
		<div class="container">
			<div class="signup-contents">
				<div class="row">
					<div class="col s1"></div>
					<div class="col s10">
						<div class="pages-title">
							<h3>기본정보</h3>
							<div class="line"></div>
						</div>
							<form action="/signup_process" method="post">
								<input type="text" name="nickname" placeholder="닉네임">
								<input type="email" name="email" placeholder="이메일">
								<input type="password" name="password" placeholder="비밀번호">
								<input type="password" name="retype_password" placeholder="비밀번호 확인">
								<input type="text" name="phone_number" placeholder="폰 번호">
								<input type="text" name="gender" placeholder="Gender type M or F only">
									
								<!-- sign up 2 -->
						<div class="pages-title">
							<h3>프로필 사진등록</h3>
							<div class="line"></div>
						</div>
								<div style="text-align:center" class="contents">
									<input type="file" name="profile_img">
								</div>

						<div class="pages-title">
							<h3>그룹 정보 등록</h3>
							<div class="line"></div>
						</div>
								<input type="text" name="location" placeholder="선호지역">
								<textarea cols="30" rows="10" name="team_detail" placeholder="간단한 그룹소개"></textarea>
								<input type="text" name="recommendation_code" placeholder="추천인코드">
								<button class="button-full" type="submit"><i class="fa fa-send"></i>등록완료</button>
								<!-- end sign up 2 -->
							</form>

							<div class="social-login">
								<h5>- 또는 -</h5>
								<div class="row">
									<div class="col s6">
										<button class="button-full button-facebook">페이스북으로 가입하기</button>
									</div>
									<div class="col s6">
										<button class="button-full button-twitter">카카오톡으로 가입하기</button>
									</div>
								</div>
							</div>
						</div>
					<div class="col s1"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- end sign up -->
</body>

<%= erb :"/layouts/footer" %>